<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>每日兼职</title>
</head>
<section style="background-color:#fcfafa;">
    <section
            style="background-image: url(../static/bg1.png);background-position: 0% 0%;background-size:100%;background-repeat:repeat;">
        <section
                style="background-image: url(../static/bg2.png);background-position: 0% 0%;background-size:100%;background-repeat:no-repeat;padding: 25px 0px;">
            <section class="v3editor">
                <p>
                    <br>
                </p>
            </section>
            <section class="v3editor" data-tools-id="96926">
                <section style="display:flex;justify-content: center;align-items: flex-start;margin: 0px 15px;">
                    <section style="    width: 60%;" data-width="60%">
                        <section
                                style="font-size: 40px;letter-spacing: 7px;color:#fefefe;text-shadow:#fee555 1px 2px 1px;text-align: center;">
                            <p>
                                <strong>每日兼职</strong>
                            </p>
                            <p>
                                <strong>就等你来</strong>
                            </p>
                        </section>
                        <section style="width: 3em;margin: 15px auto;" data-width="3em">
                            <img src="../static/bg3.png" style="display:block;width:100%;" data-width="100%">
                        </section>
                    </section>
                    <section style="width: 40%;margin-top: 2em;z-index: 1;" data-width="40%">
                        <img src="../static/bg4.png" style="display:block;width:100%;" data-width="100%">
                    </section>
                </section>
            </section>
            <section class="v3editor">
                <section
                        style="border:solid 1px #609efd;background-color:#fefefe;padding:15px;box-shadow: #fee555 7px 7px 1px;margin:15px;margin-top: -20px;">
                    <section style="font-size:15px;letter-spacing:2px;line-height:1.75;margin: 40px 0px 20px;">
                        <p>
                            测试
                        </p>
                    </section>
                    <section
                            style="display:flex;justify-content: center;align-items: center;margin: 20px 0px 25px;">
                        <section style="width:50%;" data-width="50%" class=""></section>
                        <section style="width:50%;margin-left:10px;" data-width="50%" class=""></section>
                    </section>
                </section>
            </section>
            <section class="v3editor">
                <p>
                    <br>
                </p>
            </section>
            <section class="v3editor">
                <p>
                    <br>
                </p>
            </section>
            <section class="v3editor" data-tools-id="62737">
                <section style="text-align:center;">
                    <section style="display:inline-block;">
                        <section
                                style="display:flex;justify-content: space-between;align-items: center;margin-bottom: -6px;transform: rotateZ(0deg);">
                            <section
                                    style="width:13px;height:13px;background-color:#fee555;border-radius:50%;margin-left: 15px;"
                                    data-width="13px"></section>
                            <section
                                    style="width:6px;height:6px;background-color:#cbe4fe;border-radius:50%;margin-right: 35px;"
                                    data-width="6px"></section>
                        </section>
                        <section style="display:flex;justify-content: center;align-items: center;">
                            <section
                                    style="background-color:#609efd;border-radius: 25px 0px 0px 25px;padding: 5px 40px;">
                                <section style="color:#fefefe;letter-spacing:2px;font-size:17px;margin-left: 20px;">
                                    <p>
                                        招聘岗位
                                    </p>
                                </section>
                            </section>
                            <section style="width:3em;margin-left: -5px;" data-width="3em">
                                <img src="../static/bg5.png"
                                     style="display:block;width:100%;" data-width="100%">
                            </section>
                        </section>
                        <section
                                style="width: 11px;height: 11px;background-color:#fee555;border-radius:50%;margin-left: auto;margin-right: 15px;margin-top: -6px;transform: rotateZ(0deg);"
                                data-width="11px"></section>
                    </section>
                </section>
            </section>
            <section class="v3editor" data-tools-id="39559">
                <section
                        style="border:solid 1px #609efd;background-color:#fefefe;padding: 20px 15px 15px;box-shadow: #fee555 7px 7px 1px;margin:15px;">
                    <section class="v3editor" data-tools-id="86460">
                        <section
                                style="width:30px;height:30px;background-color:#fee555;border-radius:50%;margin-left: -5px;"
                                data-width="30px"></section>
                        <section
                                style="font-size:16px;letter-spacing:2px;line-height:1.75;color:#609efd;margin-top: -23px;margin-left: 6px;">
                            <p>
                                今日岗位 &nbsp;：
                            </p>
                        </section>
                    </section>
                    <section class="v3editor" data-tools-id="25062">
                        <section style="font-size:15px;letter-spacing:2px;margin:15px 0px;">
                            <p>
                                1、负责IT项目技术方案策划、需求分析、文档编写及方案演示;2、负责IT项目实施与管理工作，协调项目团队按时、保质完成项目,提高用户满意度。
                            </p>
                        </section>
                    </section>
                </section>
            </section>
            <section class="v3editor">
                <p>
                    <br>
                </p>
            </section>
            <section class="v3editor">
                <section
                        style="color:#609efd;font-size: 17px;letter-spacing:2px;text-shadow:#fee555 2px 2px 1px;text-align:center;">
                    <p>
                        <strong>END</strong>
                    </p>
                </section>
            </section>
            <section class="v3editor">
                <p>
                    <br>
                </p>
            </section>
            <section class="v3editor">
                <p>
                    <br>
                </p>
            </section>
            <section class="v3editor">
                <section style="font-size: 15px;line-height: 2;text-align:center;letter-spacing:2px;">
                    <p>
                        图片|无版权 请替换
                    </p>
                    <p>
                        头部插画|微聚录（可商用）
                    </p>
                    <p>
                        图形、形状|微聚录（可商用）
                    </p>
                </section>
            </section>
            <section class="v3editor">
                <section style="margin:15px;">
                    <section
                            style="width:80px;height:80px;border-radius:50%;border: solid 5px #fee555;margin-left: auto;margin-bottom: -35px;transform: rotateZ(0deg);margin-right: -38px;"
                            data-width="80px"></section>
                    <section
                            style="border:solid 1px #609efd;background-color:#fefefe;padding: 15px 10px;box-shadow: #fee555 7px 7px 1px;">
                        <section style="display: flex;justify-content:center;align-items:center;">
                            <section style="width:50%;" data-width="50%">
                                <section style="width: 130px;margin:0px auto;" data-width="130px">
                                    <img src=""
                                         style="display: block; width: auto;" data-width="auto">
                                </section>
                            </section>
                            <section style="width:60%;" data-width="60%">
                                <section style="text-align: center;">
                                    <section
                                            style="color: #383838;font-size: 16px;letter-spacing: 2px;margin-top: 7px;">
                                        <p>
                                            扫码关注我们
                                        </p>
                                        <p>
                                            查看更多精彩内容
                                        </p>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
</html>